/* Navbar */
.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link.active {
  color: white;
}

.nav-link {
  margin-right: 10px;
  color: #888;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #ffffff;
}

/* Gambar Profil */
.rounded-rectangle {
  border: 0;
  border-radius: 15px;
  padding: 5px;
  margin-right: auto;
}

/* Font untuk seluruh halaman */
body {
  font-family: "Manrope", sans-serif;
}

/* Tombol "Contact Me" dan "About" */
.btn-white,
.btn-gray {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  transition: transform 0.2s;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn-gray {
  background-color: #888;
  color: #fff;
}

.btn-white:hover,
.btn-gray:hover {
  transform: scale(1.1);
}

/* Gambar di dalam container */
.right-content img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-logo {
  max-width: 200px;
  height: auto;
}

.project-text {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.project-container img {
  max-width: 100%;
  max-height: 200px;
}

/* Footer */
.footer {
  width: 100%;
  padding: 64px 104px;
  background: #1a202c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  background: #2d3648;
  padding: 12px 40px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  line-height: 24px;
}

.links {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.footer-link {
  text-align: center;
  color: #a0abc0;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 21px;
}
