/* CSS untuk mengatur tampilan tombol navigasi */
.nav-link {
  margin-right: 10px;
  color: #888;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #ffffff;
}

/* CSS untuk mengatur tampilan gambar profil */
.rounded-rectangle {
  border: 0; /* Anda dapat menghapus border karena nilainya 0 */
  border-radius: 15px;
  padding: 5px;
  margin-right: auto;
}

/* Mengatur font keluarga untuk seluruh halaman */
body {
  font-family: "Manrope", sans-serif;
}

/* CSS untuk tombol Contact Me dan About */
.btn-white,
.btn-gray {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  transition: transform 0.2s;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn-gray {
  background-color: #888;
  color: #fff;
}

.btn-white:hover,
.btn-gray:hover {
  transform: scale(1.1);
}

/* CSS untuk mengatur gambar di dalam container */
.right-content img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Menyesuaikan posisi gambar ke tengah secara horizontal dan vertikal */
}
